<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>
          <i>san nu mia voia, a cuminci gnanca</i>
        </p>
        <p>
            Ultimo aggiornamento {{ site.time | date_to_string }}
          </p>
      </div>
      <div class="footer-col footer-col-2">
        
      </div>
      <div class="footer-col footer-col-3">
        <p>© 2001 - 2018 by Igor</p>
      </div>
    </div>

  </div>

</footer>