<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>© 2001 - 2018 by Igor</p>
      </div>
      <div class="footer-col footer-col-2">
        <p>
          <i>san nu mia voia, a cuminci gnanca</i>
        </p>
      </div>
      <div class="footer-col footer-col-3">
        <p>Questo è il sito dell'invido, dove a volte si trovano giochi di carte introvabili.</p>
      </div>
    </div>
    
  </div>

</footer>
